In [1]:
import pickle 
with open('C:/Users/Gangmin/Desktop/gangmin/4-1/DL/project/xGold.pickle',"rb") as f:
    dataGold = pickle.load(f)

In [2]:
import pickle 
with open('C:/Users/Gangmin/Desktop/gangmin/4-1/DL/project/xXp.pickle',"rb") as f:
    dataXp = pickle.load(f)

In [3]:
import pickle 
with open('C:/Users/Gangmin/Desktop/gangmin/4-1/DL/project/y.pickle',"rb") as f:
    y = pickle.load(f)

In [4]:
xGold = dataGold[['TOP','MIDDLE','BOTTOM','JUNGLE']]
xGold

         TOP  MIDDLE  BOTTOM  JUNGLE
0     -10031   37956  -56459   12237
1     -13042   15676  -35174   -2103
2     -41495  -13422  -22001   -8121
3       4111   59754  -14542   12660
4      20236    8196    9036  -23252
...      ...     ...     ...     ...
4119   -4425   -9111   17163    4594
4120   59931    8244    6838    5166
4121   16917  -20531    1332   -6874
4122  -27658   35658  -28212  -50883
4123   10996   12854    1168  -29483

[4124 rows x 4 columns]

In [5]:
xXp = dataXp[['TOP','MIDDLE','BOTTOM','JUNGLE']]
xXp

         TOP  MIDDLE  BOTTOM  JUNGLE
0      -3996   23237  -48461   12627
1     -28393   35753  -26038   -2396
2     -20895  -32643    8069    -341
3       3160   37992  -33212   10446
4      37114   -3986  -20029  -26007
...      ...     ...     ...     ...
4119      32   -4228     967    5789
4120   24243  -10338    2332   11470
4121   15810  -30982     520    4749
4122  -14797   27873   -5060  -37031
4123    7681   33648  -10398  -21723

[4124 rows x 4 columns]

In [6]:
y

0       Fail
1       Fail
2       Fail
3        Win
4       Fail
        ...
4119     Win
4120     Win
4121    Fail
4122    Fail
4123     Win
Name: result, Length: 4124, dtype: object

In [7]:
for i in range(len(y)):
    if y[i] == 'Fail':
        y[i]=0
    else:
        y[i]=1

# 정규화

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
xGold[:] = scaler.fit_transform(xGold[:])
xXp[:] = scaler.fit_transform(xXp[:])

C:\Users\Gangmin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Gangmin\Anaconda3\lib\site-packages\pandas\core\frame.py:2945: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer(key, value)
C:\Users\Gangmin\Anaconda3\lib\site-packages\pandas\core\frame.py:2930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._setitem_slice(indexer, value)
C:\Users\Gangmin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Gangmin\Anaconda3\lib\site-packages\pandas\core\frame.py:2945: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer(key, value)
C:\Users\Gangmin\Anaconda3\lib\site-packages\pandas\core\frame.py:2930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._setitem_slice(indexer, value)

In [9]:
xGold

           TOP    MIDDLE    BOTTOM    JUNGLE
0     0.427058  0.620594  0.419291  0.518429
1     0.418745  0.555157  0.483707  0.471465
2     0.340185  0.469696  0.523574  0.451755
3     0.466104  0.684615  0.546148  0.519814
4     0.510626  0.533188  0.617504  0.402201
...        ...       ...       ...       ...
4119  0.442536  0.482357  0.642099  0.493398
4120  0.620224  0.533329  0.610852  0.495271
4121  0.501462  0.448817  0.594189  0.455839
4122  0.378389  0.613844  0.504777  0.311708
4123  0.485114  0.546869  0.593692  0.381794

[4124 rows x 4 columns]

# train, test data 분리

In [17]:
xGold = xGold.astype(np.float32)
xXp = xXp.astype(np.float32)
y= y.astype(np.float32)

In [18]:
from sklearn.model_selection import train_test_split
xGold_train, xGold_test, yGold_train, yGold_test = train_test_split(xGold,y,test_size = 0.3)
xXp_train, xXp_test, yXp_train, yXp_test = train_test_split(xXp,y,test_size = 0.3)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import statsmodels.api as sm
import numpy as np

In [28]:
xGold2 = sm.add_constant(xGold.astype(np.float32))

model = sm.OLS(y, xGold2)
result = model.fit()
print(result.summary())

log_reg = LogisticRegression()
log_reg.fit(xGold_train, yGold_train)

yGold_pred = log_reg.predict(xGold_test)

print('정확도 :', metrics.accuracy_score(yGold_test, yGold_pred))

                            OLS Regression Results
==============================================================================
Dep. Variable:                 result   R-squared:                       0.287
Model:                            OLS   Adj. R-squared:                  0.286
Method:                 Least Squares   F-statistic:                     413.9
Date:                Tue, 16 Jun 2020   Prob (F-statistic):          3.98e-300
Time:                        17:50:51   Log-Likelihood:                -2296.5
No. Observations:                4124   AIC:                             4603.
Df Residuals:                    4119   BIC:                             4635.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.0283      0.114    -35.277      0.000      -4.252      -3.804
TOP            2.4061      0.104     23.030      0.000       2.201       2.611
MIDDLE         2.2332      0.099     22.529      0.000       2.039       2.428
BOTTOM         2.2270      0.083     26.746      0.000       2.064       2.390
JUNGLE         2.0403      0.110     18.532      0.000       1.824       2.256
==============================================================================
Omnibus:                      768.967   Durbin-Watson:                   2.032
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              159.619
Skew:                          -0.013   Prob(JB):                     2.18e-35
Kurtosis:                       2.037   Cond. No.                         35.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
정확도 : 0.7479806138933764

In [29]:
xXp2 = sm.add_constant(xXp)
model = sm.OLS(y, xXp2)
result = model.fit()
print(result.summary())

log_reg = LogisticRegression()
log_reg.fit(xGold_train, yXp_train)

yXp_pred = log_reg.predict(xGold_test)

print('정확도 :', metrics.accuracy_score(yXp_test, yXp_pred))

                            OLS Regression Results
==============================================================================
Dep. Variable:                 result   R-squared:                       0.303
Model:                            OLS   Adj. R-squared:                  0.303
Method:                 Least Squares   F-statistic:                     448.3
Date:                Tue, 16 Jun 2020   Prob (F-statistic):          3.58e-321
Time:                        17:50:52   Log-Likelihood:                -2247.9
No. Observations:                4124   AIC:                             4506.
Df Residuals:                    4119   BIC:                             4537.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -6.2679      0.161    -38.862      0.000      -6.584      -5.952
TOP            3.4122      0.106     32.179      0.000       3.204       3.620
MIDDLE         3.8367      0.120     31.993      0.000       3.602       4.072
BOTTOM         2.9821      0.086     34.795      0.000       2.814       3.150
JUNGLE         3.1097      0.111     28.076      0.000       2.893       3.327
==============================================================================
Omnibus:                      715.431   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              154.912
Skew:                          -0.009   Prob(JB):                     2.30e-34
Kurtosis:                       2.051   Cond. No.                         50.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
정확도 : 0.4806138933764136